name: Release

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    if: github.ref_type == 'branch' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: 'https://npm.pkg.github.com'
          cache: 'pnpm'

      - name: Setup GitHub CLI
        uses: sersoft-gmbh/setup-gh-cli-action@v2
        with:
          version: stable
          
      - name: Install Dependencies
        run: pnpm install

      - name: Create Release Pull Request Or Tag and Release
        uses: changesets/action@v1
        with:
          createGithubReleases: false  # Desabilita criação automática
          publish: pnpm changeset:tag  # Roda changeset tag via pnpm script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push tags
        run: git push --tags

      - name: Create GitHub Releases from tags
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node scripts/create-releases.js